.feedbackAppController {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedbackAlternativeText {
  font-size: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 2, 0.6);
  margin-top: 40px;
  background-color: rgb(69, 191, 195, 0.85);
  border-radius: 20px;
  border: 10px double black;
  padding: 10px;
}
